<div class="main-content">
  <div class="card col-md-10 card-form">
      <div class="col-md-12">
        <!-- <app-inspections-performa-stepers></app-inspections-performa-stepers> -->
      </div>
      <div class="col-md-12">
          <div class="register-modal-header">
              <h4 class="text-center form-header">Details as per Inspections</h4>

          </div>
      </div>

      <div class="col-md-12">
          <div class="row form-row">
            <div class="container mt-5">
              <table class="table responsive">
                <thead>
                  <tr>
                    <th></th>
                    <th>Shift Timings</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td>
                      from
                      <input type="time" class="form-control">
                      to
                      <input type="time" class="form-control">
                    </td>
                    <td>
                      from
                      <input type="time" class="form-control">
                      to
                      <input type="time" class="form-control">
                    </td>
                    <td>
                      from
                      <input type="time" class="form-control">
                      to
                      <input type="time" class="form-control">
                    </td>
                    <td>
                      from
                      <input type="time" class="form-control">
                      to
                      <input type="time" class="form-control">
                    </td>
                    <td>
                      from
                      <input type="time" class="form-control">
                      to
                      <input type="time" class="form-control">
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Adult - Male</td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                  <tr>
                    <td>Adult - Female</td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                  <tr>
                    <td>Adolescent - Male</td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                  <tr>
                    <td>Adolescent - Female</td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                  <tr>
                    <td>Children - Male</td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                  <tr>
                    <td>Children - Female</td>
                    <td><input type="text" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="number" class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td><input type="text"  disabled class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                    <td><input type="text" disabled class="form-control" ></td>
                  </tr>
                </tbody>
              </table>
              <button style="float: right" type="submit" class="btn btn-primary mt-4">
                Submit
              </button>
            </div>

          </div>
      </div>
  </div>
</div>
