<div class="main-content">
<div class="card col-md-12">
<form [formGroup]="Input_Form" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="appRefId" />

  
  <!-- Section Title -->
  <div class="section-title mt-3">
    Workplace Details (Where the worker/employee is/was actually working):
  </div>
  <div class="row g-4 mb-4">

    <!-- Address of Workplace -->
    <div class="col-12">
      <label class="form-label fw-semibold">
        Address of Workplace<span class="text-danger">*</span>
      </label>
      <textarea
        formControlName="workplaceAddress"
        class="form-control"
        rows="2"
        >
      </textarea>
     <div
      class="text-danger"
      *ngIf="Input_Form.get('workplaceAddress')?.invalid && Input_Form.get('workplaceAddress')?.touched">
      Required
    </div>
    </div>

    <!-- State of Workplace -->
    <div class="col-md-6">
      <label class="form-label fw-semibold">
        State of Workplace<span class="text-danger">*</span>
      </label>
      <select
        formControlName="state"
        class="form-control"
        >
        <option value="" disabled selected>Select State</option>
        <option value="Punjab">Punjab</option>
      </select>
     <div
  class="text-danger"
  *ngIf="Input_Form.get('state')?.invalid && Input_Form.get('state')?.touched">
  Required
</div>
    </div>

    <!-- District of Workplace -->
    <div class="col-md-6">
      <label class="form-label fw-semibold">
        District of Workplace<span class="text-danger">*</span>
      </label>
      <select
        formControlName="districtRefId"
        class="form-control"
       
        >
        <option value="" disabled selected>Select District</option>
        <option *ngFor="let dist of allDistricts" [value]="dist.districtLgdId">
          {{ dist.districtName }}
        </option>
      </select>
     <div
      class="text-danger"
      *ngIf="Input_Form.get('districtRefId')?.invalid && Input_Form.get('districtRefId')?.touched">
      Required
    </div>
    </div>

    <!-- PIN Code of Workplace -->
    <div class="col-md-6">
      <label class="form-label fw-semibold">
        PIN Code of Workplace<span class="text-danger">*</span>
      </label>
      <input
        type="text"
        formControlName="pinCode"
        class="form-control"
        placeholder="Enter PIN Code"
        maxlength="6"
        >
      <div
      class="text-danger"
      *ngIf="Input_Form.get('pinCode')?.errors?.required && Input_Form.get('pinCode')?.touched">
      Required
    </div>

    <div
      class="text-danger"
      *ngIf="Input_Form.get('pinCode')?.errors?.pattern && Input_Form.get('pinCode')?.touched">
      Enter a valid 6-digit PIN Code
    </div>
    </div>

  </div>

  <!-- Action Buttons -->

</form>
</div>
</div>