
<div class="main-content"> 
    <div class="card col-md-8 card-form" style="box-shadow : 0px 5px 10px 5px lightgrey">
        <div class="col-md-12">
            <div class="register-modal-header">
                <h4 class="text-center form-header"><img src="assets/images/icon/unauthorized.png" style="width: 60px; height: 60px;"> <span class="text-danger">Authentication Error..!</span> </h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-body">
                <div class="alert alert-info">
                    <h4 class="alert-heading">Your Session/Request has been expired or you are not authozed to access this page. Kindly click on the below button and re-login..!</h4>
                </div>

                <div class="card-footer text-center">
                    <button class="btn btn-success" (click)="backToELabour()">Go To eLabour</button>
                    <button class="btn btn-success m-l-10" (click)="backToInvestPunjab()">Go To Invest Punjab</button>
                </div>
            </div>
        </div>
    </div>
</div>