<div class="main-content">
<div class="card col-md-12">
<form [formGroup]="Input_Form" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="appRefId" />

  <!-- Section Title -->
  <div class="section-title mt-3">
    Establishment Details which engaged Contractor
  </div>
  <div class="row g-4 mb-4">

    <!-- Name of Establishment -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Name of Establishment (Principal Employer) which engaged Contractor<span class="text-danger">*</span>
      </label>
      <input
        type="text"
        formControlName="establishmentName"
        class="form-control"
 />
      <div
    class="text-danger"
    *ngIf="Input_Form.get('establishmentName')?.invalid && Input_Form.get('establishmentName')?.touched">
    Required
  </div>
    </div>

    <!-- Address of Establishment -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Address of Establishment (Principal Employer) which engaged Contractor<span class="text-danger">*</span>
      </label>
      <input
        formControlName="establishmentAddress"
        class="form-control"
      />
      <div
  class="text-danger"
  *ngIf="Input_Form.get('establishmentAddress')?.invalid && Input_Form.get('establishmentAddress')?.touched">
  Required
</div>
    </div>

    <!-- State / District -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        State<span class="text-danger">*</span>
      </label>
      <select
        formControlName="state"
        class="form-control"
        >
        <option value="" disabled selected>Select State</option>
        <option value="Punjab">Punjab</option>
      </select>
     <div
  class="text-danger"
  *ngIf="Input_Form.get('state')?.invalid && Input_Form.get('state')?.touched">
  Required
</div>
    </div>

    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        District<span class="text-danger">*</span>
      </label>
      <select
        formControlName="districtRefId"
        class="form-control"
       
        >
        <option value="" disabled selected>Select District</option>
        <option *ngFor="let dist of allDistricts" [value]="dist.districtLgdId">
          {{ dist.districtName }}
        </option>
      </select>
     <div
  class="text-danger"
  *ngIf="Input_Form.get('districtRefId')?.invalid && Input_Form.get('districtRefId')?.touched">
  Required
</div>
    </div>

    <!-- PIN Code / Mobile Number -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        PIN Code<span class="text-danger">*</span>
      </label>
      <input
        type="text"
        formControlName="pinCode"
        class="form-control"
        maxlength="6"
         />
   <div
  class="text-danger"
  *ngIf="Input_Form.get('pinCode')?.errors?.required && Input_Form.get('pinCode')?.touched">
  Required
</div>

<div
  class="text-danger"
  *ngIf="Input_Form.get('pinCode')?.errors?.pattern && Input_Form.get('pinCode')?.touched">
  Enter a valid 6-digit PIN Code
</div>
    </div>

    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Mobile Number<span class="text-danger">*</span>
      </label>
      <input
        type="text"
        formControlName="mobileNumber"
        class="form-control"
        maxlength="10"
       
        (keypress)="commonOpsService.RestrictNumericValuesOnly($event, 10)" />
        <div
        class="text-danger"
        *ngIf="Input_Form.get('mobileNumber')?.errors?.required && Input_Form.get('mobileNumber')?.touched">
        Required
      </div>

      <div
        class="text-danger"
        *ngIf="Input_Form.get('mobileNumber')?.errors?.pattern && Input_Form.get('mobileNumber')?.touched">
        Enter a valid 10-digit mobile number
      </div>
    </div>

    <!-- Email / Still working -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
         />
      <div
      class="text-danger"
      *ngIf="Input_Form.get('email')?.errors?.required && Input_Form.get('email')?.touched">
      Required
    </div>
    <div
  class="text-danger"
  *ngIf="Input_Form.get('email')?.errors?.email && Input_Form.get('email')?.touched">
  Enter a valid email address
</div>
    </div>

    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Are you still working for the same employer/contractor
      </label>
      <select formControlName="isStillWorking" class="form-control">
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
      </select>
      <div
  class="text-danger"
  *ngIf="Input_Form.get('workerCategoryType')?.invalid && Input_Form.get('workerCategoryType')?.touched">
  Required
</div>
    </div>

    <!-- Nature of work / Category -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">Nature of work performed</label>
      <input
        type="text"
        formControlName="natureOfWorkPerformed"
        class="form-control" />
        <div
  class="text-danger"
  *ngIf="Input_Form.get('natureOfWorkPerformed')?.invalid && Input_Form.get('natureOfWorkPerformed')?.touched">
  Required
</div>
    </div>

    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Category<span class="text-danger">*</span>
      </label>
      <select
        formControlName="workerCategoryType"
        class="form-control"
       >
        <option value="" disabled selected>Select</option>
        <option *ngFor="let cat of categoryOptions" [value]="cat.value">
          {{ cat.text }}
        </option>
      </select>
        <div
  class="text-danger"
  *ngIf="Input_Form.get('workerCategoryType')?.invalid && Input_Form.get('workerCategoryType')?.touched">
  Required
</div>
    </div>

    <!-- Employment start / end date -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Date of start of employment<span class="text-danger">*</span>
      </label>
      <input
        type="date"
        formControlName="employmentStartDate"
        class="form-control"
        />
          <div
  class="text-danger"
  *ngIf="Input_Form.get('employmentStartDate')?.invalid && Input_Form.get('employmentStartDate')?.touched">
  Required
</div>
    </div>

    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Date of end of employment<span class="text-danger">*</span>
      </label>
      <input
        type="date"
        formControlName="employmentEndDate"
        class="form-control"
        />
      <div
      class="text-danger"
      *ngIf="Input_Form.get('employmentEndDate')?.invalid && Input_Form.get('employmentEndDate')?.touched">
      Required
    </div>
    </div>

    <!-- Wage period / Rate of wages -->
    <div class="col-md-6 mb-4">
      <label class="form-label fw-semibold">
        Wage period<span class="text-danger">*</span>
      </label>
      <select
        formControlName="wagePeriodType"
        class="form-control"
       >
        <option value="" disabled selected>Select wage period</option>
        <option *ngFor="let wp of wagePeriodOptions" [value]="wp.value">
          {{ wp.text }}
        </option>
      </select>
      <div
  class="text-danger"
  *ngIf="Input_Form.get('wagePeriodType')?.invalid && Input_Form.get('wagePeriodType')?.touched">
  Required
</div>
    </div>

    <div class="col-md-6">
      <label class="form-label fw-semibold">Rate of wages</label>
      <div class="input-group">
        <span class="input-group-text">₹</span>
        <input
          type="text"
          formControlName="wageRate"
          class="form-control"
          (keypress)="commonOpsService.RestrictNumericValuesOnly($event, 10)"
           />
      </div>
     <div
  class="text-danger"
  *ngIf="Input_Form.get('wageRate')?.invalid && Input_Form.get('wageRate')?.touched">
  Required
</div>
    </div>

  </div>

</form>
</div>
</div>