<div class="main-content">
  <div class="card col-md-10 card-form">
    <form [formGroup]="Input_Form">
      <input type="hidden" formControlName="id" />
      <div class="col-md-12">
        <!-- <app-inspections-performa-stepers (saveFormEvent)="saveAndNext($event)"></app-inspections-performa-stepers> -->
      </div>
      <div class="col-md-12">
          <div class="register-modal-header">
              <h4 class="text-center form-header">11.	Is factory carrying any Dangerous Operation (as per Rule-102) </h4>

          </div>
          <table class="table table-bordered table-striped">
            <thead class="thead-gray">
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>A. Schedule(s) Applicable:
                  Specific Report </td>
                <td>
                  <select class="form-select form-control" id="isCarryingAnyDangerousOperation" formControlName="isCarryingAnyDangerousOperation">
                    <option selected disabled>-- Please Select --</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                    <!-- <option value="Not Applicable">Not Applicable</option> -->
                  </select>
                </td>
              </tr>
              </tbody>
              </table>
      </div>
    </form>
  </div>
</div>
