<div class="main-content">
    <div class="card col-md-8 card-form">
        <div class="card-body">
            <!-- <app-app-form-stepper-navigation-panel [appSteps]="appFormStepsList">
            </app-app-form-stepper-navigation-panel> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="register-modal-header text-center">
                        <span class="f-20 f-w-600 form-header">{{ headerText.text_1 }}</span>
                        <span class="f-20 f-w-600 form-header">{{headerText.text_2}}</span>
                        <h5>Documents to be uploaded</h5>
                    </div>
                    <div class="col-md-12 text-right text-danger">
                        * mandatory fields
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 m-b-10">
                    <app-file-upload [appRefId]="paramInfo.appRefId" [entityPrimaryid]="paramInfo.identityKey" [applicationType]="paramInfo.applicationType"  [isUploadShow]='!this.isFormLocked' [projectSiteRefId]='paramInfo.projectSiteRefId' [projectSiteVersion]='paramInfo.projectSiteVersion' [deleteTempFiles]='true'></app-file-upload>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-primary" style="border-radius: 25px !important;" (click)="btnHomeClick(paramInfo.applicationType)">Home</button>
                </div>
                <div class="col-md-6 text-right">
                    <button (click)="onSubmit()" *ngIf="this.isFormLocked == false; else lockedMsg" class="btn btn-primary">Submit uploaded document & Next</button>
                    <ng-template #lockedMsg><span class="font-weight-bold text-danger"><i class="icon feather icon-lock"></i> Form Locked</span></ng-template>
                </div>
            </div>
        </div>
    </div>
</div>









