<div class="card-body table-border-style">
  <div class="table-responsive">
      <table class="table">
          <thead>
              <tr class="card-border-d-gradient">
                <th>Sr. No.</th>
                <th>Document Name</th>
                <th *ngIf="isUploadShow">Upload</th>
                <th>Already uploaded Files</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of appFilesInfo; let ndx = index">
              <td>{{ndx+1}}</td>
              <td id="docName_{{item.documentId}}"><span class="font-weight-bold" style="color: #0f0344;">{{item.documentName}}</span><br>
                <span class="docFont">Formats : <span class="docFont"> {{item.documentExtensionType}} </span></span><br>
                <span class="docFont">Max Size : <span class="docFont">  {{item.allowedMaxMB}} MB </span></span><br>
                <span >
                  <span class="docFont">Is mandatory: <span class="text-format-color">  
                    <span class="text-success" *ngIf="item.isOptional; else mandatory">No</span>
                    <ng-template #mandatory>
                      <span class="text-danger"> Yes</span>
                    </ng-template> </span></span><br>
                  </span>
              </td>
              
              <td *ngIf="isUploadShow">
                <input class="fileName" #file type="file" id="{{item.documentId}}" accept="{{item.documentExtensionType}}" (change)="upload($event,file, file.files, item.documentId, item.allowedMaxMB)" />
              </td>
              <td>
                <div *ngIf="item.alreadyUploaded!=null; else noFiles">
                  <div *ngFor="let alreadyFile of item.alreadyUploadedInfo" class="text-format-size">
                    <button class="btn btn-link text-format-size " (click)="download(alreadyFile.fileName)"><i class="fa fa-file-pdf"></i> View file </button> <span class="docFont">uploaded on :</span> {{alreadyFile.fileUploadOn  | date:'d/MM/y HH:mm'}}
                  </div>
                </div>
                <ng-template #noFiles>
                  No file uploaded
                </ng-template>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>