.text-format-size{
    font-size: 14px;
    font-weight: bold;
}
.text-format-color{
    color: maroon;
}
.table-responsive{
  margin-top: -28px;
  width: 103%;
}

tbody tr
{
  background-color: #fff;
}

tbody tr:nth-child(odd)
{
  background: none; 
  /* rgba(255, 83, 112, 0.1); */
}
.docFont{
  font-size: 14px;
  margin-left: 10px;
  color: rgb(9, 9, 243);
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.table-responsive {
  border: 1px solid lightgrey;
  border-radius: 8px;
}
.fileName{
  font-size: 15px;
  margin-left: 10px;
  color: #881323;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

.card-border-d-gradient {
  border-top: 4px solid #aeafaf;
}