<form [formGroup]="Input_Form">
    <input type="hidden" formControlName="inspectionRefId" />
    <input type="hidden" formControlName="id" />
    <div class="main-content">
      <div class="card col-md-10 card-form">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
          <div class="register-modal-header">
            <h4 class="text-center form-header">The Payment of Gratuity Act 1972</h4>
          </div>
          <table class="table table-bordered table-striped">
            <thead class="thead-gary">
              <tr>
                <th>Section/Rule</th>
                <th>Details</th>
                <th>Yes/No/Not Applicable</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td rowspan="3">Rule-3</td>
                  <td class="inspection-back-theme1"><strong>3.1.1</strong> Is notice in Form A given?</td>
                  <td class="inspection-back-theme1">
                    <select class="form-select form-control" formControlName="rule_3_Is_Notice_In_Form_A_Given">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                      <option value="-1" [selected]="true">Not Applicable</option>
                    </select>
                  </td>
                </tr>
                <tr class="inspection-back-theme1">
                  <td><strong>3.1.2</strong> {{hasViolationFound}}  </td>
                <td>
                  <select class="form-select form-control"
                      formControlName="rule_3_Is_Notice_In_Form_A_Given_ViolationExist">
                     <option value="1">Yes</option>
                      <option value="0">No</option>
                  </select>
                </td>
                </tr>
                <tr class="inspection-back-theme1">
                  <td colspan="2">
                    <label for="rule_3_Is_Notice_In_Form_A_Given_Remarks"><strong>3.1.3</strong> Remarks if any</label>
                    <textarea type="text" class="form-control" (focusout)="fillDefaultValueInRemarks($event)" formControlName="rule_3_Is_Notice_In_Form_A_Given_Remarks" (input)="updateCharacterCount('rule_3_Is_Notice_In_Form_A_Given_Remarks', 1000)" maxlength="1000"></textarea>
                    <span class="character-count">{{ getCharacterCount('rule_3_Is_Notice_In_Form_A_Given_Remarks') }}/1000</span>
                    <app-form-validation-error [isSubmitted]="hasSubmitClicked" [formGroup]="Input_Form" controlName="rule_3_Is_Notice_In_Form_A_Given_Remarks" placeHolder="rule_3_Is_Notice_In_Form_A_Given_Remarks"></app-form-validation-error>
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">Rule-4</td>
                  <td class="inspection-back-theme2"><strong>4.1.1</strong> Is notice displayed as specified in this rule?</td>
                  <td class="inspection-back-theme2">
                    <select class="form-select form-control" formControlName="rule_4_Is_Notice_Displayed">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                      <option value="-1" [selected]="true">Not Applicable</option>
                    </select>
                  </td>
                </tr>
                
                <tr class="inspection-back-theme2">
                  <td><strong>4.1.2</strong> {{hasViolationFound}}  </td>
                <td>
                  <select class="form-select form-control"
                      formControlName="rule_4_Is_Notice_Displayed_ViolationExist">
                     <option value="1">Yes</option>
                      <option value="0">No</option>
                  </select>
                </td>
                </tr>
                <tr class="inspection-back-theme2">
                  <td colspan="2">
                    <label for="rule_4_Is_Notice_Displayed_Remarks"><strong>4.1.3</strong> Remarks if any</label>
                    <textarea type="text" class="form-control" (focusout)="fillDefaultValueInRemarks($event)" formControlName="rule_4_Is_Notice_Displayed_Remarks" (input)="updateCharacterCount('rule_4_Is_Notice_Displayed_Remarks', 1000)" maxlength="1000"></textarea>
                      <span class="character-count">{{ getCharacterCount('rule_4_Is_Notice_Displayed_Remarks') }}/1000</span>
                      <app-form-validation-error [isSubmitted]="hasSubmitClicked" [formGroup]="Input_Form" controlName="rule_4_Is_Notice_Displayed_Remarks" placeHolder="rule_4_Is_Notice_Displayed_Remarks"></app-form-validation-error>
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">Rule-5</td>
                  <td class="inspection-back-theme1"><strong>5.1.1</strong> Is notice in Form D or E given?</td>
                  <td class="inspection-back-theme1">
                    <select class="form-select form-control" formControlName="rule_5_Is_Notice_In_Form_D_E_Given">
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                      <option value="-1" [selected]="true">Not Applicable</option>
                    </select>
                  </td>
                </tr>
                <tr class="inspection-back-theme1">
                  <td><strong>5.1.2</strong> {{hasViolationFound}}  </td>
                <td>
                  <select class="form-select form-control"
                      formControlName="rule_5_Is_Notice_In_Form_D_E_Given_ViolationExist">
                     <option value="1">Yes</option>
                      <option value="0">No</option>
                  </select>
                </td>
                </tr>
                <tr class="inspection-back-theme1">
                  <td colspan="2">
                    <label for="rule_5_Is_Notice_In_Form_D_E_Given_Remarks"><strong>5.1.3</strong> Remarks if any</label>
                    <textarea type="text" class="form-control" (focusout)="fillDefaultValueInRemarks($event)" formControlName="rule_5_Is_Notice_In_Form_D_E_Given_Remarks" (input)="updateCharacterCount('rule_5_Is_Notice_In_Form_D_E_Given_Remarks', 1000)" maxlength="1000"></textarea>
                      <span class="character-count">{{ getCharacterCount('rule_5_Is_Notice_In_Form_D_E_Given_Remarks') }}/1000</span>
                      <app-form-validation-error [isSubmitted]="hasSubmitClicked" [formGroup]="Input_Form" controlName="rule_5_Is_Notice_In_Form_D_E_Given_Remarks" placeHolder="rule_5_Is_Notice_In_Form_D_E_Given_Remarks"></app-form-validation-error>
                  </td>
                </tr>
                <tr>
                    <td rowspan="3">Section-6, Rule-6</td>
                    <td class="inspection-back-theme2"><strong>6.1.1</strong> Is nomination filed in Form F by employees?</td>
                    <td class="inspection-back-theme2">
                      <select class="form-select form-control" formControlName="rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        <option value="-1" [selected]="true">Not Applicable</option>
                      </select>
                    </td>
                  </tr>
                  <tr class="inspection-back-theme2">
                    <td><strong>6.1.2</strong> {{hasViolationFound}}  </td>
                  <td>
                    <select class="form-select form-control"
                        formControlName="rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_ViolationExist">
                       <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                  </td>
                  </tr>
                  <tr class="inspection-back-theme2">
                    <td colspan="2">
                      <label for="rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_Remarks"><strong>6.1.3</strong> Remarks if any</label>
                      <textarea type="text" class="form-control" (focusout)="fillDefaultValueInRemarks($event)" formControlName="rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_Remarks" (input)="updateCharacterCount('rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_Remarks', 1000)" maxlength="1000"></textarea>
                        <span class="character-count">{{ getCharacterCount('rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_Remarks') }}/1000</span>
                        <app-form-validation-error [isSubmitted]="hasSubmitClicked" [formGroup]="Input_Form" controlName="rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_Remarks" placeHolder="rule_6_Rule_6_Is_Nominee_Filled_By_Employee_In_Form_F_Remarks"></app-form-validation-error>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="3">Rule-8</td>
                    <td class="inspection-back-theme1"><strong>8.1.1</strong> Are notices in Form L or M endorsed to controlling authority?</td>
                    <td class="inspection-back-theme1">
                      <select class="form-select form-control" formControlName="rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        <option value="-1" [selected]="true">Not Applicable</option>
                      </select>
                    </td>
                  </tr>
                  <tr class="inspection-back-theme1">
                    <td><strong>8.1.2</strong> {{hasViolationFound}}  </td>
                  <td>
                    <select class="form-select form-control"
                        formControlName="rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_ViolationExist">
                       <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                  </td>
                  </tr>
                  <tr class="inspection-back-theme1">
                    <td colspan="2">
                      <label for="rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_Remarks"><strong>8.1.3</strong> Remarks if any</label>
                      <textarea type="text" class="form-control" (focusout)="fillDefaultValueInRemarks($event)" formControlName="rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_Remarks" (input)="updateCharacterCount('rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_Remarks', 1000)" maxlength="1000"></textarea>
                        <span class="character-count">{{ getCharacterCount('rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_Remarks') }}/1000</span>
                        <app-form-validation-error [isSubmitted]="hasSubmitClicked" [formGroup]="Input_Form" controlName="rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_Remarks" placeHolder="rule_8_Is_Notice_In_Form_L_M_Endorsed_To_Authority_Remarks"></app-form-validation-error>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="3">Rule-20</td>
                    <td class="inspection-back-theme2"><strong>20.1.1</strong> Is notice in Form U as specified in this rule displayed?</td>
                    <td class="inspection-back-theme2">
                      <select class="form-select form-control" formControlName="rule_20_Is_Notice_In_Form_U_Displayed">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        <option value="-1" [selected]="true">Not Applicable</option>
                      </select>
                    </td>
                  </tr>
                  <tr class="inspection-back-theme2">
                    <td><strong>20.1.2</strong> {{hasViolationFound}}  </td>
                  <td>
                    <select class="form-select form-control"
                        formControlName="rule_20_Is_Notice_In_Form_U_Displayed_ViolationExist">
                       <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                  </td>
                  </tr>
                  <tr class="inspection-back-theme2">
                    <td colspan="2">
                      <label for="rule_20_Is_Notice_In_Form_U_Displayed_Remarks"><strong>20.1.3</strong> Remarks if any</label>
                      <textarea type="text" class="form-control" (focusout)="fillDefaultValueInRemarks($event)" formControlName="rule_20_Is_Notice_In_Form_U_Displayed_Remarks" (input)="updateCharacterCount('rule_20_Is_Notice_In_Form_U_Displayed_Remarks', 1000)" maxlength="1000"></textarea>
                        <span class="character-count">{{ getCharacterCount('rule_20_Is_Notice_In_Form_U_Displayed_Remarks') }}/1000</span>
                        <app-form-validation-error [isSubmitted]="hasSubmitClicked" [formGroup]="Input_Form" controlName="rule_20_Is_Notice_In_Form_U_Displayed_Remarks" placeHolder="rule_20_Is_Notice_In_Form_U_Displayed_Remarks"></app-form-validation-error>
                    </td>
                  </tr>
          </tbody>
          </table>
        </div>
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </form>
  
  