<div class="card table-card table-scroll">

    <div class="alert alert-warning d-block text-uppercase"><i
        class="feather icon-check-circle mr-2"></i>		
        <a>Select Circle where your establishment exist	</a>							
    </div>
    <div class="card-body p-0">
       
        <div class="table-responsive">
            <div class="customer-scroll" style="position:relative;">
                <table class="table table-hover m-b-0">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Circle Name</th>
                            <th>ADF/DDF Details </th>
                            <th>Dealing Hand Details </th>
                            <th>Jurisdiction Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="col-md-3" style="float: left; margin-bottom: 15px;">
                                <div class="form-group d-inline">
                                    <div class="radio radio-success d-inline">
                                        <input type="radio" name="radio-s-in-1" id="radio-s-in-2">
                                        <label for="radio-s-in-2" class="cr">Bonus</label>
                                    </div>
                                </div>
                            </div></td>
                            <td>Mohali</td>
                            <td>Mohit Singla <br> Deputy Director Of Factory<br> mohitsingla82&#64;gmail.com <br> 9780171847</td>
                            <td>Kuldeep Singh <br> Clerk<br> mohitsingla82&#64;gmail.com <br> 9780171847</td>
                            <td>Whole of District S.A.S Nagar and District Ropar.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
