<form [formGroup]="Input_Form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="questionnaireDetailId">
    <input type="hidden" formControlName="appRefId">
    <input type="hidden" formControlName="projectSiteRefId">
    <input type="hidden" formControlName="applicationPurposeType">
    <input type="hidden" formControlName="iPin">
    <input type="hidden" formControlName="investPunjab_AppId">
    <input type="hidden" formControlName="projectSiteVersion">

    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="row">
                <div class="card col-md-8 card-form" style="margin-top: 0px;">
                    <div class="card-header">
                        <div class="register-modal-header">
                            <h4 class="text-center form-header">Factory License under Punjab Factory Rules 1952. <br> The Factories Act, 1948</h4>
                            <p class="text-center purpose-type-header">
                                {{common.getApplicationPurposeTypeDesc(this.applicationPurposeType)}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <ul class="feed-blog pl-0">
                                <li>
                                    <div class="feed-user-img">
                                        <img src="assets/images/icon/google-maps.png">
                                    </div>
                                    <h5>Establishment & Address</h5>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Business Entity Name</th>
                                                <td colspan="5">{{projectSite?.establishmentName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Addess</th>
                                                <td colspan="5">{{projectSite?.address}}</td>
                                            </tr>
                                            <tr>
                                                <th>Applicant Name</th>
                                                <td>{{projectSite?.applicantName}}</td>
                                                <th>MobileNo</th>
                                                <td>{{projectSite?.mobileNo}}</td>
                                                <th>Email</th>
                                                <td>{{projectSite?.email}}</td>
                                            </tr>
                                            <tr>
                                                <th>District</th>
                                                <td>{{projectSite?.districtName}}</td>
                                                <th>Tehsil</th>
                                                <td>{{projectSite?.tehsilName}}</td>
                                                <th>Pin Code</th>
                                                <td>{{projectSite?.pinCode}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li>
                                    <div class="feed-user-img">
                                        <img src="assets/images/icon/checklist.png">
                                    </div>
                                    <h5>Prerequisites</h5>

                                    <div class="row form-row m-t-10">
                                        <div class="col-md-12">

                                        </div>
                                    </div>

                                    <!-- <div class="card-body" *ngIf="Input_Form.controls.isBuildingPlanApproved.value && Input_Form.controls.isBuildingPlanApproved.value == 0">
                                        <div class="alert alert-danger">
                                            <h4 class="alert-heading">Please Note!</h4>
                                            <p>Please get the Building Plan Approval first from Director of Factories. Please go back to <a class="text-c-blue" href={{defaultReturnPath}}>Invest Punjab portal</a> and choose to apply service : "Approval of Building Plan Under Factory Act, 1948".</p>
                                            <hr>
                                        </div>
                                    </div> -->
                                </li>

                                <li>
                                    <div class="feed-user-img">
                                        <img src="assets/images/RightToBusiness.png">
                                    </div>
                                    <h5>Approval under Right-To-Business Details</h5>
                                    <div class="row form-row m-t-10">
                                        <div class="col-md-5">
                                            <div class="form-group" [ngClass]="formControls.isUnderRightToBusinessAct.invalid && (submitted || formControls.isUnderRightToBusinessAct.dirty || formControls.isUnderRightToBusinessAct.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="isUnderRightToBusinessAct" class="required">Have you availed in-principal approval under Right-To-Business rules</label>
                                                <select class="form-select form-select-sm" class="form-control" (change)="onPrincipalApprovalChange(formControls.isUnderRightToBusinessAct.value)" formControlName="isUnderRightToBusinessAct">
                                                    <option [selected]="true" value="">-- Please Select --</option>
                                                    <option value= "0"> No </option>
                                                    <option value= "1"> Yes </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="row form-row" *ngIf="Input_Form.controls.isUnderRightToBusinessAct.value == 1">
                                        <div class="col-md-5">
                                            <div class="form-group" [ngClass]="formControls.projectIdentificationNo.invalid && (submitted || formControls.projectIdentificationNo.dirty || formControls.projectIdentificationNo.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="projectIdentificationNo" class="required">Project identification number - RBA</label>
                                                <input type="text" class="form-control" formControlName="projectIdentificationNo">
                                            </div>
                                        </div>
                        
                                        <div class="col-md-5">
                                            <div class="form-group" [ngClass]="formControls.appIdRightToBusinessAct.invalid && (submitted || formControls.appIdRightToBusinessAct.dirty || formControls.appIdRightToBusinessAct.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="appIdRightToBusinessAct" class="required">Application id-RBA</label>
                                                <input type="text" class="form-control" formControlName="appIdRightToBusinessAct">
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 35px;">
                                            <div class="btn btn-info" *ngIf="formControls.projectIdentificationNo.valid && formControls.appIdRightToBusinessAct.valid && !Input_Form.controls.isRBAVerified.value" (click)="findPrincipalApprovalDetails(formControls.projectIdentificationNo.value, formControls.appIdRightToBusinessAct.value)">VERIFY</div>
                                            <div class="btn btn-primary" *ngIf="formControls.projectIdentificationNo.valid && formControls.appIdRightToBusinessAct.valid && Input_Form.controls.isRBAVerified.value" (click)="resetRbaVerification()">RESET</div>
                                        </div>
                                    </div>
                                    <div class="row form-row" *ngIf="Input_Form.controls.isUnderRightToBusinessAct.value == 1">
                                        <div class="row">
                                            <div class="col-md-12 text-danger font-weight-bold" *ngIf="!Input_Form.controls.isRBAVerified.value">
                                                <i class="feather icon-alert-triangle"></i> Approval under Right-To-Business rules is not verified..! Please input Project identification number and Application id - RBA click on verified button. 
                                            </div>
                                            <div class="col-md-12 text-success font-weight-bold" *ngIf="Input_Form.controls.isRBAVerified.value">
                                                <i class="feather icon-check"></i> Approval under Right-To-Business rules is verified..!
                                            </div>
                                            <div class="col-md-12 text-center m-t-10" *ngIf="Input_Form.controls.isRBAVerified.value">
                                                <table>
                                                    <table class="table table-bordered table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Establishment</th>
                                                                <th>Address</th>
                                                                <th>Approval date</th>
                                                                <th>Approval file</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>{{rightToBussinessApprovalDetails?.be_name}}</td>
                                                            <td>
                                                                {{rightToBussinessApprovalDetails?.projectaddress}}, 
                                                                {{rightToBussinessApprovalDetails?.projectvillagetown}},
                                                                {{rightToBussinessApprovalDetails?.projecttehsilname}}
                                                                {{rightToBussinessApprovalDetails?.projectdistrictname}},
                                                                {{rightToBussinessApprovalDetails?.projectpincode}}
                                                            </td>
                                                            <td>{{rightToBussinessApprovalDetails?.approvaldate}}</td>
                                                            <td><a class="text-danger" target="_blank" href="{{rightToBussinessApprovalDetails?.approval_file}}">Click here</a></td>
                                                        </tr>
                                                    </tbody>
                                                    </table>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </li>

                                <li>
                                    <div class="feed-user-img">
                                        <img src="assets/images/temporary-files.png">
                                    </div>
                                    <h5>Temporary License Details</h5>
                                    <div class="row form-row m-t-10">
                                        <div class="col-md-5">
                                            <div class="form-group" [ngClass]="formControls.isTempRegistered.invalid && (submitted || formControls.isTempRegistered.dirty || formControls.isTempRegistered.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="isTempRegistered" class="required">Have you availed a temporary registration ?</label>
                                                <select class="form-select form-select-sm" class="form-control" (change)="tempRegChange()" formControlName="isTempRegistered">
                                                    <option [selected]="true" value="">-- Please Select --</option>
                                                    <option value= "0"> No </option>
                                                    <option value= "1"> Yes </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-5" *ngIf="Input_Form.controls.isTempRegistered.value == 1">
                                            <div class="form-group" [ngClass]="formControls.tempRegistrationNumber.invalid && (submitted || formControls.tempRegistrationNumber.dirty || formControls.tempRegistrationNumber.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="tempRegistrationNumber" class="required">Temporary registration number</label>
                                                <input type="text" class="form-control" formControlName="tempRegistrationNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 35px;">
                                            <div class="btn btn-info" (click)="findTempRegistrationDetails(formControls.tempRegistrationNumber.value)" *ngIf="formControls.isTempRegistered.value == 1 && formControls.tempRegistrationNumber.valid && !Input_Form.controls.isTempRegistrationVerified.value">VERIFY</div>
                                        </div>
                                    </div>

                                    <div class="row form-row" *ngIf="Input_Form.controls.isTempRegistered.value == 1">
                                        <div class="row">
                                            <div class="col-md-12 text-danger font-weight-bold" *ngIf="!Input_Form.controls.isTempRegistrationVerified.value">
                                                <i class="feather icon-alert-triangle"></i> Temporary license detail is not verified..! Please input the correct temporary license number and click on verified button. 
                                            </div>
                                            <div class="col-md-12 text-success font-weight-bold" *ngIf="Input_Form.controls.isTempRegistrationVerified.value">
                                                <i class="feather icon-check"></i> Temporary license detail is verified..!
                                            </div>
                                            <div class="col-md-12 m-t-10" *ngIf="Input_Form.controls.isTempRegistrationVerified.value">
                                                <a class="text-danger" target="_blank" href="https://pblabour.gov.in/eLabour/writereaddata/Licence/{{temporaryLicenceDetailsViewModel?.licencePath}}">Click here to see temporary license approval Certificate</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feed-user-img">
                                        <img src="assets/images/measure.png">
                                    </div>
                                    <h5>Building Plan Details</h5>
                                    
                                    <div class="row form-row m-t-10">
                                        <div class="col-md-5">
                                            <div class="form-group" [ngClass]="formControls.isBuildingPlanApproved.invalid && (submitted || formControls.isBuildingPlanApproved.dirty || formControls.isBuildingPlanApproved.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="isBuildingPlanApproved" class="required">Please select authority from which you have got building plan approval</label>
                                                <select class="form-select form-select-sm" class="form-control" (change)="buildingPlanApprovedChange()" formControlName="isBuildingPlanApproved">
                                                    <option [selected]="true" value="">-- Please Select --</option>
                                                    <option value= "1"> Director of Factories </option>
                                                    <option value= "0"> Any other authority </option>
                                                    <option *ngIf="Input_Form.controls.isRBAVerified.value" value= "2"> Not applicable</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5" *ngIf="Input_Form.controls.isBuildingPlanApproved.value == 1">
                                            <div class="form-group" [ngClass]="formControls.buildingPlanDofNumber.invalid && (submitted || formControls.buildingPlanDofNumber.dirty || formControls.buildingPlanDofNumber.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="buildingPlanDofNumber" class="required">Please enter building plan DOF number</label>
                                                <input type="text" class="form-control m-t-20" formControlName="buildingPlanDofNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 55px;">
                                            <div class="btn btn-info" (click)="findDOFNoDetails(formControls.buildingPlanDofNumber.value)" *ngIf="formControls.isBuildingPlanApproved.value == 1 && formControls.buildingPlanDofNumber.valid && !Input_Form.controls.isBuildingPlanVerified.value">VERIFY</div>
                                        </div>
                                    </div>

                                    <div class="row form-row" *ngIf="Input_Form.controls.isBuildingPlanApproved.value == 1">
                                        <div class="col-md-12 text-danger font-weight-bold" *ngIf="!Input_Form.controls.isBuildingPlanVerified.value">
                                            <i class="feather icon-alert-triangle"></i> Building plan detail is not verified..! Please input the correct building plan DOF number and click on verified button. 
                                        </div>
                                        <div class="col-md-12 text-success font-weight-bold" *ngIf="Input_Form.controls.isBuildingPlanVerified.value">
                                            <i class="feather icon-check"></i> Building plan detail is verified..!
                                        </div>
                                        <div class="col-md-12 m-t-10" *ngIf="Input_Form.controls.isBuildingPlanVerified.value">
                                            <a class="text-danger" target="_blank" href="https://pblabour.gov.in/eLabour/writereaddata/Licence/{{buildingPlanApprovalCertificateFile}}">Click here to see approved building plan certificate</a>
                                        </div>
                                    </div>
                                    <div class="row form-row" *ngIf="Input_Form.controls.isBuildingPlanApproved.value == 0">
                                        <div class="col-md-12 text-danger font-weight-bold" *ngIf="Input_Form.controls.isBuildingPlanVerified.value">
                                            In case you have got approval of building plan from another authority (Other than Director of Factories) then you have to upload documentry proof in the next part of application form.
                                        </div>
                                    </div>
                                     
                                </li>
                                <li>
                                    <div class="feed-user-img">
                                        <img src="assets/images/badge.png">
                                    </div>
                                    <h5>Stability Details</h5>

                                    <div class="row form-row m-t-10">
                                        <div class="col-md-5">
                                            <div class="form-group" [ngClass]="formControls.isStabilityApproved.invalid && (submitted || formControls.isStabilityApproved.dirty || formControls.isStabilityApproved.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="isStabilityApproved" class="required">Please select authority from which you have got building plan approval</label>
                                                <select class="form-select form-select-sm" class="form-control" (change)="stabilityApprovedChange()" formControlName="isStabilityApproved">
                                                    <option [selected]="true" value="">-- Please Select --</option>
                                                    <option value= "1"> Director of Factories </option>
                                                    <option value= "0"> Competent person </option>
                                                    <option *ngIf="Input_Form.controls.isRBAVerified.value" value= "2"> Not applicable</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5" *ngIf="Input_Form.controls.isStabilityApproved.value == 1">
                                            <div class="form-group" [ngClass]="formControls.stabilityPlanDofNumber.invalid && (submitted || formControls.stabilityPlanDofNumber.dirty || formControls.stabilityPlanDofNumber.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="stabilityPlanDofNumber" class="required">Please enter building plan stability DOF number</label>
                                                <input type="text" class="form-control m-t-20" formControlName="stabilityPlanDofNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-5" *ngIf="Input_Form.controls.isStabilityApproved.value && Input_Form.controls.isStabilityApproved.value == 0">
                                            <div class="form-group" [ngClass]="formControls.competentPersonUserId.invalid && (submitted || formControls.competentPersonUserId.dirty || formControls.competentPersonUserId.touched) ? 'form-validation-icon-input' : ''">
                                                <label for="competentPersonUserId" class="required">Please select competent person</label>
                                                <select class="form-select form-select-sm" class="form-control" formControlName="competentPersonUserId">
                                                    <option [selected]="true" value="">-- Please Select --</option>
                                                    <option *ngFor="let item of competenPersonList" value= "{{item.id}}"> {{item.officerFullName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 55px;">
                                            <div class="btn btn-info" (click)="findStabilityDOFNoDetails(formControls.stabilityPlanDofNumber.value)" *ngIf="formControls.isStabilityApproved.value == 1 && formControls.stabilityPlanDofNumber.valid && !Input_Form.controls.isStabilityPlanVerified.value">VERIFY</div>
                                        </div>
                                    </div>
                                    
                                    <div class="row form-row" *ngIf="Input_Form.controls.isStabilityApproved.value == 1">
                                        <div class="col-md-12 text-danger font-weight-bold" *ngIf="!Input_Form.controls.isStabilityPlanVerified.value">
                                            <i class="feather icon-alert-triangle"></i> Building plan stability detail is not verified..! Please input the correct building plan DOF number and click on verified button. 
                                        </div>
                                        <div class="col-md-12 text-success font-weight-bold" *ngIf="Input_Form.controls.isStabilityPlanVerified.value">
                                            <i class="feather icon-check"></i> Building plan stability detail is verified..!
                                        </div>
                                        <div class="col-md-12 m-t-10" *ngIf="Input_Form.controls.isStabilityPlanVerified.value">
                                            <a class="text-danger" target="_blank" href="https://pblabour.gov.in/eLabour/writereaddata/Licence/{{buildingPlanStabilityApprovalCertificateFile}}">Click here to see approved building plan stability certificate</a>
                                        </div>
                                    </div>
                                    <!-- <div class="row form-row" *ngIf="Input_Form.controls.isStabilityApproved.value && Input_Form.controls.isStabilityApproved.value == 0">
                                        <div class="form-group" [ngClass]="formControls.competentPersonUserId.invalid && (submitted || formControls.competentPersonUserId.dirty || formControls.competentPersonUserId.touched) ? 'form-validation-icon-input' : ''">
                                            <label for="competentPersonUserId" class="required">Please select competent person</label>
                                            <select class="form-select form-select-sm" class="form-control" formControlName="competentPersonUserId">
                                                <option [selected]="true" value="">-- Please Select --</option>
                                                <option *ngFor="let item of competenPersonList" value= "{{item.id}}"> {{item.officerFullName}}</option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <!-- <div class="card-body" *ngIf="Input_Form.controls.isStabilityApproved.value && Input_Form.controls.isStabilityApproved.value == 0">
                                        <div class="alert alert-danger">
                                            <h4 class="alert-heading">Please Note!</h4>
                                            <p>Please get the Stability Certificate Approval first from Director of Factories. Please go back to <a class="text-c-blue" href={{defaultReturnPath}}>Invest Punjab portal</a> and choose to apply service : "Approval of Building Plan Under Factory Act, 1948".</p>
                                            <hr>
                                        </div>
                                    </div> -->
                                </li>
                            </ul>

                            <div class="card-footer">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success" [disabled]="hasSubmitClicked">Start Filling Application Form</button>
                                </div>
                                <app-go-to-home-button class="btn btn-success"></app-go-to-home-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>