<form [formGroup]="Input_Form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="appRefId">

  <div class="main-content">
     <div class="card col-md-8 card-form">
        <div class="register-modal-header">
          <h4 class="text-center form-header">
            Registration under OSH & CoSS Code 2020
          </h4>
          <p class="text-center purpose-type-header">(Registration)</p>
        </div>

         <div class="col-md-12" style="margin-top: 5px;">
              <!-- <app-app-form-stepper-navigation-panel [appSteps]="appFormStepsList">
              </app-app-form-stepper-navigation-panel> -->
          </div>

       <div class="col-md-12 text-right text-danger">
          * mandatory fields
        </div>
      
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="required">Select Employer Type</label>
          <select class="form-control" formControlName="employerType">
            <option value="">Select Employer Type</option>
            <option>Occupier</option>
            <option>Manager</option>
          </select>
        </div>

        <div class="col-md-6 form-group">
          <label class="required">Name</label>
          <input type="text" class="form-control" formControlName="employerName" placeholder="Enter Name">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="required">Designation</label>
          <input type="text" class="form-control" formControlName="designation" placeholder="Enter Designation">
        </div>

        <div class="col-md-6 form-group">
          <label class="required">Father's/Husband's Name</label>
          <input type="text" class="form-control" formControlName="fatherOrHusbandName" placeholder="Enter Father's/Husband's">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group d-flex">
          <div class="flex-grow-1">
            <label class="required">Email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email ID">
          </div>
        </div>

        <div class="col-md-6 form-group d-flex">
          <div class="flex-grow-1">
            <label class="required">Mobile</label>
            <input type="text" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile" (keypress)="commonOpsService.RestrictNumericValuesOnly($event, 10)">
          </div>
        </div>
      </div>

      <h5 class="sub-title">Address</h5>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="required">Premise Number / Name</label>
          <input type="text" class="form-control" formControlName="premiseName">
        </div>

        <div class="col-md-6 form-group">
          <label class="required">Sub Locality / Street / Colony Name</label>
          <input type="text" class="form-control" formControlName="subLocality_OR_Street_OR_ColonyName">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="required">Locality / Landmark</label>
          <input type="text" class="form-control" formControlName="locality_OR_Landmark">
        </div>

        <div class="col-md-6 form-group">
          <label class="required">City / Town / Village</label>
          <input type="text" class="form-control" formControlName="villageOrTown">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="required">State</label>
          <select class="form-control" formControlName="state">
            <option value="">Select State</option>
            <option value="Punjab">Punjab</option>
          </select>
        </div>

        <div class="col-md-6 form-group">
          <label class="required">District</label>
          <select class="form-control" formControlName="districtRefId" 
                  (change)="getTehsilsByDistrictRefId(Input_Form.value.districtRefId, 'tehsilRefId')">
            <option value="">Select District</option>
            <option *ngFor="let dist of allDistricts" [value]="dist.districtLgdId">
              {{dist.districtName}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="required">Tehsil</label>
          <select class="form-control" formControlName="tehsilRefId">
            <option value="">Select Tehsil</option>
            <option *ngFor="let teh of allTehsil" [value]="teh.id">
              {{teh.text}}
            </option>
          </select>
        </div>

        <div class="col-md-6 form-group">
          <label class="required">Pincode</label>
          <input type="text" class="form-control" formControlName="pinCode" 
                 (keypress)="commonOpsService.RestrictNumericValuesOnly($event, 6)">
        </div>
      </div>
     
      <div class="text-right mt-3">
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary ml-2" (click)="addEmployer()">Add</button>
      </div>

      <div *ngIf="employerList.length > 0">
        <h6 class="details-title">Details Added</h6>
        <table class="table table-bordered details-table">
          <thead>
            <tr>
              <th>S No.</th>
              <th>Employer Type</th>
              <th>Name</th>
              <th>Father's/Husband's name</th>
              <th>Designation</th>
              <th>Contact Details & Address</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let emp of employerList; let i = index">
              <td>{{i+1}}</td>
              <td>{{emp.employerType}}</td>
              <td>{{emp.employerName}}</td>
              <td>{{emp.fatherOrHusbandName}}</td>
              <td>{{emp.designation}}</td>
              <td>
                <b>Contact Details:</b> {{emp.email}}, {{emp.mobileNo}}<br>
                <b>Address:</b> {{emp.premiseName}}, 
                {{emp.subLocality_OR_Street_OR_ColonyName}},
                {{emp.locality_OR_Landmark}}, 
                {{emp.villageOrTown}},
                {{emp.state}}, 
                {{emp.pinCode}}
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteEmployer(i)">🗑</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer m-t-10">
        <div class="row">
            <div class="col-md-6">
                <app-go-to-home-button class="btn btn-success"></app-go-to-home-button>
            </div>
            <div class="col-md-6 text-right">
                <button 
                  *ngIf="genericFormData?.isLocked==false || genericFormData?.isEditAllowed==true; else lockedMsg" 
                  type="submit" 
                  class="btn btn-primary">
                  Save & Next
                </button>

                <ng-template #lockedMsg>
                  <span class="font-weight-bold text-danger">
                    <i class="icon feather icon-lock"></i> Form Locked
                  </span>
                </ng-template>
            </div>
        </div>
      </div>

    </div>
  </div>
</form>