<form [formGroup]="Input_Form">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="appRefId">
    <input type="hidden" formControlName="applicationPurposeType">
    <input type="hidden" formControlName="projectSiteVersion">
    <input type="hidden" formControlName="toDoActivityModeType">
    <input type="hidden" formControlName="rootActivityRefId">
    <input type="hidden" formControlName="toDoActivityCategoryType">

      <div class="section-card">

        <h5  class="required">F. Non Payment of Bonus:</h5>

      <!-- Discharge/Dismissal Question -->
    <div formArrayName="periodAmtDetails">

    <div
        class="row mb-4"
        *ngFor="let group of complaintDetails.controls; let i = index"
        [formGroupName]="i">

        <div class="col">
        <label>Accounting year for which bonus not paid/short paid</label>
        <input type="number" class="form-control" formControlName="accountingYear">

        <div
            class="text-danger"
            *ngIf="group.get('accountingYear')?.invalid && group.get('accountingYear')?.touched">
            Required
        </div>
        </div>

        <div class=" col">
        <label >Amount of unpaid Bonus</label>
        <input type="number" class="form-control" formControlName="amount">

        <div
            class="text-danger"
            *ngIf="group.get('amount')?.invalid && group.get('amount')?.touched">
            Required
        </div>
        </div>

        
    <div class="col">
    <label>Basis of bonus claimed</label>

    <select class="form-control" formControlName="bonusClaimType">
        <option value="" disabled selected>Select</option>

        @for (option of bonusClaimOptions; track option.value) {
            <option [value]="option.value">
                {{ option.text }}
            </option>
        }
    </select>

    <div
        class="text-danger"
        *ngIf="group.get('bonusClaimType')?.invalid && group.get('bonusClaimType')?.touched">
        Required
    </div>
</div>

        <div class=" col d-flex align-items-end">

        <button
            *ngIf="i === 0"
            type="button"
            class="btn btn-primary me-2"
            (click)="addMore()">
            Add More
        </button>

        <button
            *ngIf="i > 0"
            type="button"
            class="btn btn-danger"
            (click)="removeRow(i)">
            Delete
        </button>

        </div>

    </div>

    </div>

       <div class="row">
     

        <div class=" col">
        <label >Total relief sought</label>
        <input  type="number" class="form-control" formControlName="totalReliefSought" readonly/>
        <div *ngIf="Input_Form.get('totalReliefSought').errors?.required && Input_Form.get('totalReliefSought').touched" class="text-danger">
            Required
        </div>
        </div>

          <div class=" col">
        <label >Compensation Sought</label>
        <input  type="number" class="form-control" formControlName="compensationSought"/>
        <div *ngIf="Input_Form.get('compensationSought').errors?.required && Input_Form.get('compensationSought').touched" class="text-danger">
            Required
        </div>
        </div>

           <div class=" col">
        <label>Any others details, if any</label>
        <input  type="text" class="form-control" formControlName="details"/>
        </div>
    </div>
    </div>

</form>