<!-- <div class="top-bar">
    <div class="top-left">
        <a href="javascript:void(0)">Government of India</a>
        <a href="javascript:void(0)">M/o Labour &amp; Employment</a>
        <a href="javascript:void(0)">Skip to main content</a>
        <a href="javascript:void(0)">Screen Reader Access</a>
    </div>
    <div class="top-right">
        <button style="background:#fff;">&#9633;</button>
        <button class="dark">&#9632;</button>
        <button>A-</button>
        <button>A</button>
        <button>A+</button>
        <button class="lang-toggle">अ / A</button>
    </div>
</div> -->

<!-- ===================== MAIN HEADER ===================== -->
<div class="main-header">
    <div class="gov-emblem-block">
            <img src="./assets/images/eNivaraan-logo.png" alt="Emblem of India" height="83px">
        <div>
            <p class="gov-text-punjabi">ਕਿਰਤ ਵਿਭਾਗ</p>
            <p class="gov-text-sub">Department of Labour, Punjab</p>
            <p class="gov-text-sub">Government of Punjab</p>
        </div>
    </div>

    <div class="title-block">
        <div class="samadhan-title">
            <span><span class="e-color"><span>e</span> <span style="position:relative; top : 5px">-</span> </span><span class="s-orange">ਨਿਵਾਰਨ</span></span> / 
            <span><span class="e-color"><span>e</span> <span style="position:relative; top : 5px">-</span> </span><span class="s-orange">Nivaraan</span></span> 
            <!-- <span class="beta-badge">Beta Version</span> -->
        </div>
        <p class="tagline">Justice for Workmen made Simple, Easy &amp; Quick</p>
        <!-- <p class="test-notice">(This website is for testing purpose only)</p> -->
    </div>
    <img src="assets/img/logo_Latest.png" alt="Punjab Logo" height="83px">

    
<!-- <div class="flag-emblem-custom" title="India Flag Emblem">
    <div class="stripe saffron"></div>
    <div class="stripe white">
        <div class="ashoka-chakra">
            <div class="ashoka-chakra-spokes"></div>
        </div>
    </div>
    <div class="stripe green"></div>
</div> -->
</div>

<!-- ===================== NAVIGATION BAR ===================== -->
<div class="nav-bar">
    <!-- <a href="javascript:void(0)" class="nav-item"><i class="feather icon-home"></i></a>
    <a href="javascript:void(0)" class="nav-item">About Us <i class="feather icon-chevron-down"></i></a>
    <a href="javascript:void(0)" class="nav-item">CSC <i class="feather icon-chevron-down"></i></a>
    <a href="javascript:void(0)" class="nav-item">Track your Application</a>
    <a href="javascript:void(0)" class="nav-item">FAQs</a> -->
</div>

<div class="login-page">
    <!-- HEADER  -->
     
    <div class="mainwraper">
        <div class="wrapper">
            <div class="logincontainer">
                <div class="left-panel">
                    <div class="row">
                        <div class="col-md-12 text-align">
                            <h2 style="font-weight: bold;">Welcome to e-Nivaraan Portal!</h2><br>
                             <h2 style="font-weight: bold;">(PUNJAB)</h2>
                        </div>
                        <div class="col-md-12 text-align">
                            <img src="assets/img/logo_Latest.png" alt="Invest Punjab Logo" />
                        </div>
                        <!-- <div class="col-md-12 text-align">
                            <span style="font-size: 20px; color: yellow;"><u>Helpdesk Support</u></span><br>
                            <span style="font-size: 16px;"><i class="feather icon-phone-call"></i> 0172-2920755,  0172-2925755</span><br>
                            <span style="font-size: 16px;"><i class="feather icon-mail"></i> elabourhelpdesk[at]gmail[dot]com</span>
                        </div> -->
                    </div>
                </div>
                <div class="right-panel">
                   <div class="row" style="border-bottom: 3px solid #2141A4; padding-bottom: 104px;">
                        <div class="col-md-12">
                            <div class="col-md-12" style="text-align:center;">
                                <img src="./assets/images/eNivaraan-logo.png" style="height: 170px;">
                                <!-- <img src="./assets/img/logo_Latest.png" style="height: 100px; float: inline-end;"> -->
                            </div>
                        </div>
                    </div>

                    <div class="row form-box" *ngIf="screenType=='LOGIN'">
                        <div class="col-md-12">
                            <h2 class="login-title">Login</h2>
                        </div>
                         <div class="col-md-12 text-danger" *ngIf="hasErrorInLogin">{{loginErrorMsg}}</div>
                        <div class="col-md-12">
                            <div *ngFor="let i of getFormField('Username')" class="form-group">
                                <label class="form-label required">
                                    {{i.captionText}} <span class="text-danger"></span>
                                </label>
                                <div class="input-with-icon">
                                    <i class="feather icon-user"></i>
                                    <input autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value" (keydown)="onKeyDown($event)" placeholder="Enter User Name">
                                </div>
                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{i.validationErrorText}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div *ngFor="let i of getFormField('Password')" class="form-group">
                                <label class="form-label required">
                                    {{i.captionText}} <span class="text-danger"></span>
                                </label>
                                <div class="input-with-icon">
                                    <i class="feather icon-lock"></i>
                                    <input autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value"  (keydown)="onKeyDown($event)" placeholder="Enter Password">
                                    <i class="feather icon-eye eye-icon"></i>
                                </div>
                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{i.validationErrorText}}
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let i of getFormField('EnteredCaptcha')" class="col-md-12">
                            <label class="form-label required">
                                {{ i.captionText }} <span class="text-danger"></span>
                            </label>
                            <div class="captcha-row">
                                <div class="input-with-icon captcha-input-wrap">
                                    <i class="feather icon-shield"></i>
                                    <input class="captcha-input" placeholder="Enter Captcha" autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" 
                                        (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value"  (keydown)="onKeyDown($event)">
                                </div>

                                <img class="captcha-image" src="data:image/png;base64,{{captchaImg}}">
                                <button type="button" class="captcha-refresh" (click)="getCaptchaCode()">
                                    <img src="./assets/img/refresh.png" class="refresh-icon">    
                                </button>
                            </div>

                            <div class="text-danger small" *ngIf="!i.isValid">
                                {{ i.validationErrorText }}
                            </div>
                        </div>

                        <div *ngFor="let i of getFormField('OriginalCaptcha')" class="d-none">
                            <input [type]="getInputType(i.key)" [id]="i.key" [value]="i.value">
                        </div>

                        <button (click)="onLoginSubmit()" class="login-btn">Login  <i class="feather icon-log-in"></i></button>
                        <div class="col-md-12 links">
                            <div style="margin-bottom: 10px;">
                                <a href="javascript:void(0)" (click)="switchScreen('FORGOT')">
                                    <strong class="link-button">Forgot Password?</strong>
                                </a>
                            </div>
                            <div>
                                <span class="btn-link-text">Do not have an account?</span> 
                                <a href="javascript:void(0)" (click)="redirectToRegistration()">
                                    <strong class="link-button"> Signup</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-box" *ngIf="screenType=='OTP'">
                         <div class="col-md-12">
                            <h2 class="login-title">OTP Verification</h2>
                            <span>
                                A {{pageMode=='LOGIN' ? 'login' : 'reset password'}} OTP verification code is sent to your registered mobile number ending with <strong>{{getMashedMobileNo()}}</strong> 
                            </span>
                        </div>
                         <div class="col-md-12 text-danger" *ngIf="hasErrorInLogin">{{loginErrorMsg}}</div>

                        <div class="col-md-12">
                            <div *ngFor="let i of getFormField('EnteredOTP')" class="form-group">
                                <label class="form-label required">
                                    {{i.captionText}} <span class="text-danger"></span>
                                </label>
                                <div class="input-with-icon">
                                    <i class="feather icon-key"></i>
                                    <input autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value" (keydown)="onKeyDown($event)" placeholder="Enter OTP">
                                </div>
                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{i.validationErrorText}}
                                </div>
                            </div>
                        </div>
                        <button class="login-btn mt-4" (click)="getMatchOtpCode()">
                            Validate OTP <i class="feather icon-unlock"></i>
                        </button>

                        <div class="col-md-12 links">
                            <div style="margin-bottom: 10px;">
                                <span class="btn-link-text">Existing user?</span> 
                                <a href="javascript:void(0)" (click)="switchScreen('LOGIN')">
                                    <strong class="link-button"> Log In</strong>
                                </a>
                            </div>
                        
                            <div>
                                <span class="btn-link-text">Do not have an account?</span> 
                                <a href="javascript:void(0)" (click)="switchScreen('LOGIN')">
                                    <strong class="link-button"> Signup</strong>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="form-box" *ngIf="screenType=='FORGOT'">

                        <div class="col-md-12">
                            <h2 class="login-title">Forgot Password</h2>
                        </div>
                        <div class="col-md-12 text-danger" *ngIf="hasErrorInLogin">{{loginErrorMsg}}</div>
                        <div class="col-md-12">
                            <div *ngFor="let i of getFormField('Username')" class="form-group">
                                <label class="form-label required">
                                    {{i.captionText}} <span class="text-danger"></span>
                                </label>
                                <div class="input-with-icon">
                                    <i class="feather icon-user"></i>
                                    <input autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value" (keydown)="onKeyDown($event)" placeholder="Enter User Name">
                                </div>
                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{i.validationErrorText}}
                                </div>
                            </div>
                        </div>
                            <div *ngFor="let i of getFormField('EnteredCaptcha')" class="form-group">
                                <label class="form-label required">
                                    {{ i.captionText }} <span class="text-danger"></span>
                                </label>

                                <div class="captcha-row">
                                    <div class="input-with-icon captcha-input-wrap">
                                        <i class="feather icon-shield"></i>
                                        <input class="captcha-input" placeholder="Enter Captcha" autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" 
                                            (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value"  (keydown)="onKeyDown($event)">
                                    </div>

                                    <img class="captcha-image" src="data:image/png;base64,{{captchaImg}}">
                                    <button type="button" class="captcha-refresh" (click)="getCaptchaCode()">
                                        <img src="./assets/img/refresh.png" class="refresh-icon">    
                                    </button>
                                </div>

                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{ i.validationErrorText }}
                                </div>
                            </div>

                            <div *ngFor="let i of getFormField('OriginalCaptcha')" class="d-none">
                                <input [type]="getInputType(i.key)" [id]="i.key" [value]="i.value">
                            </div>

                            <button (click)="onResetPasswordSubmit()"  class="login-btn">Reset Password <i class="feather icon-refresh-cw"> </i> </button>


                            <div class="col-md-12 links">
                                <div style="margin-bottom: 10px;">
                                    <span class="btn-link-text">Existing user?</span> 
                                    <a href="javascript:void(0)" (click)="switchScreen('LOGIN')">
                                        <strong class="link-button"> Log In</strong>
                                    </a>
                                </div>
                            
                                <div>
                                    <span class="btn-link-text">Do not have an account?</span> 
                                    <a href="javascript:void(0)" (click)="switchScreen('LOGIN')">
                                        <strong class="link-button"> Signup</strong>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="form-box" *ngIf="screenType=='NEWPASSWORD'">
                         <div class="col-md-12">
                            <h2 class="login-title">Set New Password</h2>
                        </div>
                        <div class="col-md-12 text-danger" *ngIf="hasErrorInLogin">{{loginErrorMsg}}</div>

                        <div class="col-md-12">
                            <div *ngFor="let i of getFormField('Password_1')" class="form-group">
                                <label class="form-label required">
                                    {{i.captionText}} <span class="text-danger"></span>
                                </label>
                                <div class="input-with-icon">
                                    <i class="feather icon-lock"></i>
                                    <input autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value" (keydown)="onKeyDown($event)" placeholder="Enter New Password">
                                    <i class="feather icon-eye eye-icon"></i>
                                </div>
                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{i.validationErrorText}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div *ngFor="let i of getFormField('Password_2')" class="form-group">
                                <label class="form-label required">
                                    {{i.captionText}} <span class="text-danger"></span>
                                </label>
                                <div class="input-with-icon">
                                    <i class="feather icon-lock"></i>
                                    <input autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value" (keydown)="onKeyDown($event)" placeholder="Confirm New Password">
                                    <i class="feather icon-eye eye-icon"></i>
                                </div>
                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{i.validationErrorText}}
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let i of getFormField('EnteredCaptcha')" class="form-group">
                                <label class="form-label required">
                                    {{ i.captionText }} <span class="text-danger"></span>
                                </label>

                                <div class="captcha-row">
                                    <div class="input-with-icon captcha-input-wrap">
                                        <i class="feather icon-shield"></i>
                                        <input class="captcha-input" placeholder="Enter Captcha" autocomplete="off" [type]="getInputType(i.key)" [id]="i.key" (focus)="onFocus($event)" 
                                            (focusout)="onFormFieldChange(i.isClientSideEncryption, $event)" [value]="i.value"  (keydown)="onKeyDown($event)">
                                    </div>

                                    <img class="captcha-image" src="data:image/png;base64,{{captchaImg}}">
                                    <button type="button" class="captcha-refresh" (click)="getCaptchaCode()">
                                        <img src="./assets/img/refresh.png" class="refresh-icon">    
                                    </button>
                                </div>

                                <div class="text-danger small" *ngIf="!i.isValid">
                                    {{ i.validationErrorText }}
                                </div>
                            </div>


                            <div *ngFor="let i of getFormField('OriginalCaptcha')" class="d-none">
                                <input [type]="getInputType(i.key)" [id]="i.key" [value]="i.value">
                            </div>

                            <button (click)="onSetNewPasswordSubmit()" class="btn-set-new-password"> Set New Password <i data-feather="key"></i></button>
                            <div class="password-policy">
                                <div class="policy-title">
                                    Password Policy
                                </div>
                                <ul>
                                    <li>Passwords must be at least <strong>6 characters</strong> long.</li>
                                    <li>Passwords must contain at least <strong>one non-alphanumeric character</strong>.</li>
                                    <li>Passwords must contain at least <strong>one digit (0–9)</strong>.</li>
                                    <li>Passwords must contain at least <strong>one lowercase letter (a–z) & one uppercase letter (A–Z)</strong>.</li>
                                    <li>Passwords must use at least <strong>one different character</strong>.</li>
                                </ul>
                            </div>
                    </div>
                    <div class="form-box" *ngIf="screenType=='NEWPASSWORD_SUCCESS'">
                        <div class="text-center icon-password-reset">
                            <i class="feather icon-check-circle password-set-ok"></i>
                        </div>
                       
                        <h2>Password Reset Successfully </h2>

                        <div class="col-md-12 links">
                            <div style="margin-bottom: 10px;">
                                <span class="btn-link-text">Existing user?</span> 
                                <a href="javascript:void(0)" (click)="switchScreen('LOGIN')">
                                    <strong class="link-button"> Log In</strong>
                                </a>
                            </div>
                           
                            <div>
                                 <span class="btn-link-text">Do not have an account?</span> 
                                <a href="javascript:void(0)" (click)="switchScreen('LOGIN')">
                                    <strong class="link-button"> Signup</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ===================== FOOTER ===================== -->
<!-- <div class="footer-bar">
    <a href="javascript:void(0)">Disclaimer</a> <span class="sep">|</span>
    <a href="javascript:void(0)">Bhashini Disclaimer</a> <span class="sep">|</span>
    <a href="javascript:void(0)">Website Policies</a> <span class="sep">|</span>
    <a href="javascript:void(0)">User Manual</a> <span class="sep">|</span>
    <a href="javascript:void(0)">Contact Us</a> <span class="sep">|</span>
    <a href="javascript:void(0)">Web Information Manager</a> <span class="sep">|</span>
    <a href="javascript:void(0)">FAQs</a> <span class="sep">|</span>
    <a href="javascript:void(0)">Sitemap</a>
</div> -->

<div class="copyright-bar">
    ©2026 Department of Labour, Punjab. All rights reserved.
</div>