.card {
    border: 1px solid lightgrey;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
.card .card-header h5 {
    color: black;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative;
}
.schedule-2{
    height: 4px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.text-right{
    border: none;
}
