<form [formGroup]="Input_Form">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="appRefId">
    <input type="hidden" formControlName="applicationPurposeType">
    <input type="hidden" formControlName="projectSiteVersion">
    <input type="hidden" formControlName="toDoActivityModeType">
    <input type="hidden" formControlName="rootActivityRefId">
    <input type="hidden" formControlName="toDoActivityCategoryType">

      <div class="section-card">

        <h5  class="required">D. Wages not paid at all: </h5>

      <!-- Discharge/Dismissal Question -->
    <div formArrayName="periodAmtDetails">

    <div
        class="row mb-4"
        *ngFor="let group of complaintDetails.controls; let i = index"
        [formGroupName]="i">

        <div class="col">
        <label>From</label>
        <input type="date" class="form-control" formControlName="fromDate">

        <div
            class="text-danger"
            *ngIf="group.get('fromDate')?.invalid && group.get('fromDate')?.touched">
            Required
        </div>
        </div>

        <div class=" col">
        <label >To</label>
        <input type="date" class="form-control" formControlName="toDate">

        <div
            class="text-danger"
            *ngIf="group.get('toDate')?.invalid && group.get('toDate')?.touched">
            Required
        </div>
        </div>

        
        <div class=" col">
        <label >Overtime Hours</label>
        <input type="number" class="form-control" formControlName="overTimeHours">

        <div
            class="text-danger"
            *ngIf="group.get('overTimeHours')?.invalid && group.get('overTimeHours')?.touched">
            Required
        </div>
        </div>

        <div class=" col">
        <label >Amount</label>
        <input type="number" class="form-control" formControlName="amount">

        <div
            class="text-danger"
            *ngIf="group.get('amount')?.invalid && group.get('amount')?.touched">
            Required
        </div>
        </div>

        <div class=" col d-flex align-items-end">

        <button
            *ngIf="i === 0"
            type="button"
            class="btn btn-primary me-2"
            (click)="addMore()">
            Add More
        </button>

        <button
            *ngIf="i > 0"
            type="button"
            class="btn btn-danger"
            (click)="removeRow(i)">
            Delete
        </button>

        </div>

    </div>

    </div>

       <div class="row">
     

        <div class=" col">
        <label >Total relief sought</label>
        <input  type="number" class="form-control" formControlName="totalReliefSought" readonly/>
        <div *ngIf="Input_Form.get('totalReliefSought').errors?.required && Input_Form.get('totalReliefSought').touched" class="text-danger">
            Required
        </div>
        </div>

          <div class=" col">
        <label >Compensation Sought</label>
        <input  type="number" class="form-control" formControlName="compensationSought"/>
        <div *ngIf="Input_Form.get('compensationSought').errors?.required && Input_Form.get('compensationSought').touched" class="text-danger">
            Required
        </div>
        </div>

           <div class=" col">
        <label>Details about the claim (s) (if any)</label>
        <input  type="text" class="form-control" formControlName="detailAboutTheClaim"/>
        </div>
    </div>
    </div>

</form>