<div class="col-xl-6" style="margin-left: auto; margin-right: auto;" *ngIf="paymentDetails.TransactionFinalStatus=='Succeed'; else paymentFailedMsg">
    <h6 class="text-center mb-3"></h6>
    <div class="card user-card user-card-2 shape-right background-image" style="padding: 30px; margin-top: 70px;" id="receipt">
        <div class="card-header border-0 p-2 pb-0">
        </div>
        <div class="card-body pt-0">
            <div class="user-about-block">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-auto col pr-0">
                                <div class="change-profile">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="profile-dp">
                                                <img class="img-radius img-fluid wid-100" src="assets/images/icon/govt-of-punjab.png" alt="User image">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <p class="mb-0" style="font-size: 22px;"><b>Application Online Fee Payment Receipt</b>
                            </div>
                        </div>
                        <p style="text-align: right; font-size: 15px;">{{ currentDate | date:'medium'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table invoice-detail-table">
                        <tbody>
                            <tr class="col-sm-12">
                                <td class="col-3">
                                    <b>
                                        1. Establishment Name :
                                    </b>
                                </td>
                                <td class="col-3">
                                    {{paymentDetails.EstablishmentName}}
                                </td>
                                <td class="col-xl-3">
                                    <b>
                                        2. Establishment Address :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.EstablishmentAddress}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table invoice-detail-table">
                        <tbody>
                            <tr class="col-sm-12">
                                <td class="col-xl-3">
                                    <b>
                                        3. Application Number :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.PublicAppRefNum}}</td>
                                <td class="col-xl-3">
                                    <b>
                                        4. Application For :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.ApplicationType}}</td>
                            </tr>
                            <tr class="col-sm-12">
                                <td class="col-xl-3">
                                    <b>
                                        5. Application Type :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.ApplicationPurposeType}}</td>

                                <td class="col-xl-3">
                                    <b>
                                        6. Bank Reference Number :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.BankRefNumber}}</td>
                            </tr>
                            <tr class="col-sm-12">
                                <td class="col-xl-3">
                                    <b>
                                        7. Transaction Status 
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.TransactionFinalStatus}}</td>

                                <td class="col-xl-3">
                                    <b>
                                        8. Amount :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.TransactionAmount}} <br> <span class="text-primary text-right">
                                    ({{paymentDetails.TransactionAmount | numberToWord}})</span> </td>

                            </tr>
                            <tr class="col-sm-12">
                               
                                <td class="col-xl-3">
                                    <b>
                                        9. Transaction Date :
                                    </b>
                                </td>
                                <td class="col-xl-3">{{paymentDetails.TransactionDate | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table invoice-detail-table">
                        <tbody>
                            <tr class="col-sm-12">
                                <td class="col-xl-6">
                                    *This eReceipt produced by <b>eLabour</b> portal of Department of Labour, Punjab and not required signature.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12">
                        <p style="font-size: 10px;">{{paymentDetails.AppRefId}}_{{paymentDetails.PaymentGatewayType}}_{{paymentDetails.ApplicationType}} </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 invoice-btn-group text-center">
            <button type="button" class="btn waves-effect waves-light btn-success btn-print-invoice" (click)="downloadPdf()"><i class="feather icon-download"></i> Download Receipt</button>
            <button type="button" style="margin-left: 10px;" class="btn waves-effect waves-light btn-primary homeButtonClick" (click)="homeButtonClick()"><i class="feather icon-home"></i> Go To Home</button>
        </div>
    </div>
</div>

<ng-template #paymentFailedMsg>
    <div class="row">
        <div class="col-md-12 text-danger text-center">
            Payment failed..!
        </div>
        <div class="col-sm-12 invoice-btn-group text-center">
            <button type="button" class="btn waves-effect waves-light btn-primary homeButtonClick" (click)="homeButtonClick()"><i class="feather icon-home"></i> Go To Home</button>
        </div>
    </div>
</ng-template>