<!-- <app-loginslider></app-loginslider> -->
<div class="vs-checkout-area mt-5">
    <section class="vs-blog-wrapper blog-single-layout1 pb-lg-90">
        <div class="container mt-5">
            <div class="blog-content">
                <div class="mt-5">
                    <h3 class="ml-5">Scan the below code for mobile app registration</h3>
                </div>
                <div class="tab-pane mt-5" id="qr" aria-labelledby="qr-tab">
                    <div class="inner-list">
                        <div class="container">
                            <div class="row gutters-40 justify-content-center">
                                <div class="col-lg-11">
                                    <div class="vs-blog format-standard has-post-thumbnail">
                                        <div class="vs-comment-form comments-form-layout1 pb-10">
                                            <div action="#" class="comment-form">
                                                <div class="row gutters-20">
                                                    <qr-code style="margin-left: auto; margin-right: auto;"
                                                        value="{{signalRConnectionId}}" size="250"
                                                        errorCorrectionLevel="H"></qr-code>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="about-content"><span
                                                class="d-block mb-10 text-primary2 text-20 text-white"><strong>
                                                    <a routerLink="/quick">Help ?
                                                    </a></strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>