    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card border-danger" style="margin: 8px;">
                <div class="card-header text-center bg-danger text-white">
                    <h6>FORM-04</h6>
                    <p class="mb-0"><i class="fa fa Documents"></i> Upload Documents</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 border-end border-light-greay border-1">
                            <!-- <app-app-form-stepper-navigation-panel [appSteps]="appFormStepsList">
                            </app-app-form-stepper-navigation-panel> -->
                        </div>
                        <div class="col-md-10 col-lg-10">
                            <div class="card bg-light">
                                <div class="card-body">

                                    <div class="row form-row">
                                        <div class="col-md-2 fw-bold text-end text-secondary">
                                            Occupier Information
                                        </div>
                                        <div class="form-group">
                                            <span class="btn btn-primary btn-s btn-file ">+ Upload Documents
                                              <input type="file" (change)="fileEvent($event,imgFiles)" class="form-control" value="">
                                            </span>
                                            <!-- <p style="font-size: 10px"><strong>Formats: {{imgFiles.join()}}</strong></p> -->
              
                                            <input type="hidden" formControlName="cpyScan">
                                            <!-- <errors [control]="workerDetails.controls['cpyScan']" [formsubmitted]="formsubmitted"></errors> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger">Home</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary">Save & Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

