<div class="card">
    <div class="m-2">
        <form [formGroup]="Input_Form">

            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="appRefId">
            <input type="hidden" formControlName="applicationPurposeType">
            <input type="hidden" formControlName="projectSiteVersion">
            <input type="hidden" formControlName="toDoActivityModeType">
            <input type="hidden" formControlName="rootActivityRefId">
            <input type="hidden" formControlName="toDoActivityCategoryType">

            <!-- Basic / General Info -->
            <div class="card-body" style="margin-top: 0px;">



                <div>
                    <h5 class="section-title">Notice Pay Details</h5>
                    <div class="row">
                        <div class="col-md-6 mb-4 ">
                            <label class="required">
                                Date of Joining
                            </label>
                            <input type="date" formControlName="dateOfJoining" class="form-control" />
                            <div class="text-danger"
                                *ngIf="Input_Form.get('dateOfJoining')?.invalid && Input_Form.get('dateOfJoining')?.touched">
                                Required
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 ">
                            <label class="required">
                                Date of Termination
                            </label>
                            <input type="date" formControlName="dateOfTermination" class="form-control" />
                            <div class="text-danger"
                                *ngIf="Input_Form.get('dateOfTermination')?.invalid && Input_Form.get('dateOfTermination')?.touched">
                                Required
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <label class="required">Period of Notice Pay</label>
                            <select class="form-control" formControlName="noticePayPeriodType">
                                <option value="">Select</option>
                                <option *ngFor="let options of noticePeriodOptions" [value]="options.value">
                                    {{ options.text }}
                                </option>
                            </select>
                            <div class="text-danger"
                                *ngIf="Input_Form.get('noticePayPeriodType')?.invalid && Input_Form.get('noticePayPeriodType')?.touched">
                                Required
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 ">
                            <label class="required">
                                Amount of money due for non-payment of Notice Pay
                                
                            </label>
                            <input type="number" formControlName="amountDue" class="form-control" />
                            <div class="text-danger"
                                *ngIf="Input_Form.get('amountDue')?.invalid && Input_Form.get('amountDue')?.touched">
                                Required
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 ">
                            <label class="required">
                                Date from which payment is due in lieu of notice
                            </label>
                            <input type="date" formControlName="amountDueFromDate" class="form-control" />
                            <div class="text-danger"
                                *ngIf="Input_Form.get('amountDueFromDate')?.invalid && Input_Form.get('amountDueFromDate')?.touched">
                                Required
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>