<form [formGroup]="Input_Form">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="appRefId">
    <input type="hidden" formControlName="projectSiteRefId">
    <input type="hidden" formControlName="applicationPurposeType">
    <input type="hidden" formControlName="iPin">
    <input type="hidden" formControlName="investPunjab_AppId">
    <input type="hidden" formControlName="projectSiteVersion">
    <input type="hidden" formControlName="toDoActivityModeType">
    <input type="hidden" formControlName="rootActivityRefId">
    <input type="hidden" formControlName="toDoActivityCategoryType">
  <div class="section-card">
    <h5 class="section-title">Factory Details</h5>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Details of Manufacturing Process <span class="text-danger">*</span>
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Enter manufacturing process" formControlName="manufacturingProcess"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Premise Number / Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Premise Number / Name" formControlName="premiseName"/>
      </div>

      <div class="form-group col-md-6">
        <label>Sub Locality / Street / Colony Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Sub Locality / Street / Colony Name" formControlName="subLocality_OR_Street_OR_ColonyName"/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Locality / Landmark <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Locality / Landmark" formControlName="locality_OR_Landmark"/>
      </div>

      <div class="form-group col-md-6">
        <label>City / Town / Village <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter City / Town / Village" formControlName="villageOrTown"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>State <span class="text-danger">*</span></label>
        <select class="form-control" formControlName="state">
          <option value="">-- State --</option>
          <option value="1">Punjab</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>District <span class="text-danger">*</span></label>
        <select class="form-control" formControlName="districtRefId" (change)="getTehsilsByDistrictRefId(Input_Form.value.districtRefId, 'tehsilRefId')">
          <option [selected]="true" value=''>-- Select--</option>
          <option *ngFor="let alldist of allDistricts; let i = index;" value={{alldist.districtLgdId}}>{{alldist.districtName}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Tehsil <span class="text-danger">*</span></label>
         <select class="form-control" formControlName="tehsilRefId">
            <option [selected]="true" value="">-- Select--</option>
            <option *ngFor="let allteh of allTehsil; let i = index;" value={{allteh.id}}>{{allteh.text}}</option>
          </select>
      </div>

      <div class="form-group col-md-6">
        <div class="form-group col-md-6">
          <label>Pincode <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Pin code" formControlName="pinCode" (keypress)="commonOpsService.RestrictNumericValuesOnly($event, 6)"/>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Date of Commencement (DD-MM-YYYY) <span class="text-danger">*</span></label>
        <input type="date" class="form-control" formControlName="dateOfCommencement"/>
      </div>
    </div>
  </div>
</form>