<section class="vs-work-process-wrap work-process-layout1 bg-light">
    <div class="carousel-container">
        <div class="row work-process-area vs-carousel slick-initialized slick-slider">
            <div class="slick-list draggable">
                <div class="slick-track">
                    <div class="col-sm-6 col-lg-4 slick-slide slick-current slick-active slick-first">
                        <div class="vs-work-process text-center">
                            <div class="work-process-top"><span class="shape bg-primary3"></span> <span class="number bg-primary3 border-white text-white">I</span></div>
                            <div class="work-process-content"><span class="icon text-primary3"><i
                                        class="flaticon-cleaning "></i></span>
                                <img src="../../assets/images/scan-img/regester.jpg" style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style=" float: right;">
                        <div class="widget">
                            <h3 class="widget_title">Step One</h3>
                            <div class="vs_about_author">
                                <h4 class="author-title font-semibold font2 text-20 mb-15">After install application in your device then there is Login With Contact Number option you have.</h4>
                                <h4 class="author-title font-semibold font2 text-20 mb-15">You recieved 4 digits OTP on this number.</h4>
                            </div>
                        </div>
                        <img class="arrow" src="../../assets/images/icon/arrow.png">
                    </div>

                </div>

                <div class="slick-track" style=" width: 100%; ">
                    <div class="col-sm-6" style=" float: left; text-align: right;">
                        <div class="widget">
                            <h3 class="widget_title" style="text-align: left;">Step Two</h3>
                            <div class="vs_about_author">
                                <h4 class="author-title font-semibold font2 text-20 mb-15">Enter 4 digits otp code recieved on your contact number. </h4>
                            </div>
                        </div>
                        <img class="arrow" src="../../assets/images/icon/arrowleft.png">
                    </div>

                    <div class="col-sm-6 col-lg-4 slick-slide slick-active" style="float: right;">
                        <div class="vs-work-process text-center">
                            <div class="work-process-top"><span class="shape bg-primary2"></span> <span class="number bg-primary2 text-white border-white">II</span></div>
                            <div class="work-process-content"><span class="icon text-primary2"><i
                                        class="flaticon-mop icon-4x"></i></span>
                                <img src="../../assets/images/scan-img/OTP.jpg" style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 10px;">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-track" style=" width: 100%; ">
                    <div class="col-sm-6 col-lg-4 slick-slide slick-cloned slick-active slick-last">
                        <div class="vs-work-process text-center">
                            <div class="work-process-top"><span class="shape bg-primary"></span> <span class="number bg-primary border-white text-white">III</span></div>
                            <div class="work-process-content border-primary"><span class="icon text-primary"><i
                                        class="flaticon-wipe icon-4x"></i></span>
                                <img src="../../assets/images/scan-img/qrscan.jpg" style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 10px;">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style=" float: right;">
                        <div class="widget">
                            <h3 class="widget_title">Step Three</h3>
                            <div class="vs_about_author">
                                <h4 class="author-title font-semibold font2 text-20 mb-15">After regester your device on eLabour Portal then click on QR scanner and to go Login page and scan QR code for quick login </h4>
                            </div>
                        </div>
                        <img class="arrow" src="../../assets/images/icon/arrow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>