<!-- <div class="footer-content">
    <div class="container">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-lg-6 col-md-6">
                <div class="text-white text-center">Copyrights © 2023 Department of Labour, Govt. of Punjab. All rights reserved. </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="text-white text-center"> Designed and Developed by NIC PUNJAB</div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>
                    <img src="assets/images/nic-logo.png" class="footer-logo"/>
                </div>
            </div>
        </div>
    </div>
</div> -->