<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="card" >
            <div class="m-2">

  <form [formGroup]="Input_Form">
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="appRefId">
    <input type="hidden" formControlName="applicationPurposeType">
    <input type="hidden" formControlName="projectSiteVersion">
    <input type="hidden" formControlName="toDoActivityModeType">
    <input type="hidden" formControlName="rootActivityRefId">
    <input type="hidden" formControlName="toDoActivityCategoryType">


    <div class="title-bar">
        Application for Your Complaint
      </div>


        <!-- General Information label -->
        <div class="general-info-label">
          General Information <span class="required"></span>
        </div>
          <app-formtab [appSteps]="appFormStepsList"></app-formtab>



        <div class="section-card">

        <h5 class="section-title">Claim (s) under Code on Wages
        </h5>
      <!-- Discharge/Dismissal Question -->
      <div class="row">
        <div class="col-md-6 mb-4">
        <label class="form-label fw-semibold">
          Select Additional Wages/Allowance (if entitled)
        </label>
          <select
            class="form-control"
            formControlName="allowanceType"
            >
            <option value="">Select</option>
            <option *ngFor="let opt of allowanceType" [value]="opt.value">{{ opt.text }}</option>
          </select>
        </div>
      </div>

      <label class="form-label fw-semibold">
        Place of Work (Applicable rate of minimum wages) *<span class="text-danger">*</span>
      </label>
      <!-- Applicable Option Radio Buttons - Shown only when Yes is selected -->
       <div class="row">
        <div class="col">
        <label class="form-label fw-semibold">
          Area A
        </label>
          <select
            class="form-control"
            formControlName="placeOfWorkTypeA"
            (change)="onChange('placeOfWorkTypeA')"
            >
            <option value="">Select</option>
            <option *ngFor="let opt of placeOfWorkTypeA" [value]="opt.value">{{ opt.text }}</option>
          </select>
      </div>

      <!-- Amount Due -->
      <div class="col">
        <label class="form-label fw-semibold">
          Area B
        </label>
          <select
            class="form-control"
            formControlName="placeOfWorkTypeB"
            (change)="onChange('placeOfWorkTypeB')"
            >
            <option value="">Select</option>
            <option *ngFor="let opt of placeOfWorkTypeB" [value]="opt.value">{{ opt.text }}</option>
          </select>
        </div>

        <div class="col">
        <label class="form-label fw-semibold">Area C</label>
        <input type="text" class="form-control" (input)="onChange('placeofWorkNameC')" formControlName="placeofWorkNameC"/>
        <div *ngIf="Input_Form.get('placeofWorkNameC').errors?.required && Input_Form.get('placeofWorkNameC').touched" class="text-danger">
            Required
        </div>
        </div>
    </div>
    <div
      *ngIf="Input_Form.hasError('placeOfWorkRequired') &&
              (Input_Form.touched || Input_Form.dirty)"
      class="text-danger">
      Please select any one Place of Work option.
    </div>
    </div>



          <!-- <app-claim-under-code-on-wages [claimUnderCodeOnWagesApiData]="claimUnderCodeOnWagesApiData" (claimUnderCodeOnWagesDataEvent)="claimUnderCodeOnWagesDataEventListener($event)"></app-claim-under-code-on-wages> -->
          <app-minimum-wages-not-paid [wagesApiData]="minimumWagesApiData" [wagesPeriodAmtApiData]="minimumWagesPeriodApiData" (minimumWagesDataEvent)="minimumWagesDataDataEventListener($event)" ></app-minimum-wages-not-paid>
          <app-wages-weeklyday [wagesApiData]="wagesWeeklyApiData" [wagesPeriodAmtApiData]="wagesWeeklyPeriodAmtApiData" (wagesWeeklyDayDataEvent)="wagesWeeklyDayEventListener($event)"></app-wages-weeklyday>
          <app-wages-working-overtime [wagesApiData]="wagesOverTimeApiData" [wagesPeriodAmtApiData]="wagesOverTimePeriodAmtApiData" (wagesDataEvent)="wagesWorkingOvertimeEventListener($event)"></app-wages-working-overtime>
          <app-wages-not-paid-at-all [wagesApiData]="wagesNotPaidAtAllApiData" [wagesPeriodAmtApiData]="wagesNotPaidAtAllPeriodAmtApiData" (wagesDataEvent)="wagesNotPaidAtAllEventListener($event)"></app-wages-not-paid-at-all>
          <app-wages-unauthorised-deduction [wagesApiData]="wageUnauthDedApiData" [wagesPeriodAmtApiData]="wageUnauthDedPeriodAmtApiData" (wagesDataEvent)="wagesUnauthDedEventListener($event)"></app-wages-unauthorised-deduction>
          <app-non-payment-bonus [wagesApiData]="nonPayBonusApiData" [wagesPeriodAmtApiData]="nonPayBonusPeriodAmtApiData" (wagesDataEvent)="nonPayBonusEventListener($event)"></app-non-payment-bonus>
    <!-- Action Buttons -->
    <div class="d-flex justify-content-end gap-2 mt-4">
      <!-- <button type="button" class="btn btn-primary" (click)="onSaveDraft()">Save as Draft</button>
      <button type="button" class="btn btn-secondary" (click)="onBack()">Back</button> -->
      <button type="button" class="btn btn-primary" (click)="onSubmit()"> Next</button>
    </div>
</form>
    </div>
</div>
    </div>
</div>