                                        /* slider background image */
                                        
                                        html,
                                        body {
                                            width: 100%;
                                        }
                                        
                                        body {
                                            margin: 0;
                                        }
                                        
                                        #slideshow {
                                            position: relative;
                                            width: 100%;
                                        }
                                        
                                        .elemnt,
                                        .elemnt1,
                                        .elemnt2,
                                        .elemnt3 {
                                            position: absolute;
                                            left: 0;
                                            width: 100%;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            display: inline-block;
                                            text-align: center;
                                            height: 970px;
                                            /* filter: blur(2px);
                                            -webkit-filter: blur(2px); */
                                        }
                                        
                                        @media only screen and (min-width: 2110px) and (max-width: 2400px) {
                                            .elemnt,
                                            .elemnt1,
                                            .elemnt2,
                                            .elemnt3 {
                                                position: absolute;
                                                left: 0;
                                                width: 100%!important;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                display: inline-block;
                                                text-align: center;
                                                height: 1080px;
                                                /* filter: blur(2px);
                                                -webkit-filter: blur(2px); */
                                            }
                                        }
                                        
                                        @media only screen and (min-width: 1900px)and (max-width: 2100px) {
                                            .elemnt,
                                            .elemnt1,
                                            .elemnt2,
                                            .elemnt3 {
                                                position: absolute;
                                                left: 0;
                                                width: 100%!important;
                                                background-repeat: no-repeat;
                                                background-size: 100% 100%;
                                                display: inline-block;
                                                text-align: center;
                                                height: 975px;
                                                /* filter: blur(2px);
                                                -webkit-filter: blur(2px); */
                                            }
                                        }
                                        
                                        @media only screen and (min-width: 1600px)and (max-width: 1700px) {
                                            .elemnt,
                                            .elemnt1,
                                            .elemnt2,
                                            .elemnt3 {
                                                position: absolute;
                                                left: 0;
                                                width: 100%!important;
                                                background-repeat: no-repeat;
                                                background-size: 100% 100%;
                                                display: inline-block;
                                                text-align: center;
                                                height: 615px;
                                                /* filter: blur(2px);
                                                -webkit-filter: blur(2px); */
                                            }
                                        }
                                        @media only screen and (min-width: 1301px)and (max-width: 1600px) {
                                            .elemnt,
                                            .elemnt1,
                                            .elemnt2,
                                            .elemnt3 {
                                                position: absolute;
                                                left: 0;
                                                width: 100%!important;
                                                background-repeat: no-repeat;
                                                background-size: 100% 100%;
                                                display: inline-block;
                                                text-align: center;
                                                height: 755px;
                                                /* filter: blur(2px);
                                                -webkit-filter: blur(2px); */
                                            }
                                        }
                                        @media only screen and (min-width: 1200px)and (max-width: 1300px) {
                                            .elemnt,
                                            .elemnt1,
                                            .elemnt2,
                                            .elemnt3 {
                                                position: absolute;
                                                left: 0;
                                                width: 100%!important;
                                                background-repeat: no-repeat;
                                                background-size: 100% 100%;
                                                display: inline-block;
                                                text-align: center;
                                                height: 615px;
                                                /* filter: blur(2px);
                                                -webkit-filter: blur(2px); */
                                            }
                                        }
                                        
                                        span {
                                            border: 1px solid transparent;
                                        }
                                        
                                        .elemnt {
                                            animation: xfade 28s 21s infinite;
                                            background-image: url('../../../assets/images/work-process/factory1.jpg');
                                        }
                                        
                                        .elemnt1 {
                                            animation: xfade 28s 14s infinite;
                                            background-image: url('../../../assets/images/work-process/factory2.jpg');
                                        }
                                        
                                        .elemnt2 {
                                            animation: xfade 28s 7s infinite;
                                            background-image: url('../../../assets/images/work-process/factory3.jpeg');
                                        }
                                        
                                        .elemnt3 {
                                            animation: xfade 28s 0s infinite;
                                            background-image: url('../../../assets/images/work-process/factory4.jpg');
                                        }
                                        
                                        @keyframes xfade {
                                            17% {
                                                opacity: 1;
                                            }
                                            25% {
                                                opacity: 0;
                                            }
                                            92% {
                                                opacity: 0;
                                            }
                                        }
                                        
                                        @keyframes xfade1 {
                                            17% {
                                                opacity: 1;
                                            }
                                            25% {
                                                opacity: 0;
                                            }
                                            92% {
                                                opacity: 0;
                                            }
                                        }
                                        
                                        @keyframes xfade2 {
                                            17% {
                                                opacity: 1;
                                            }
                                            25% {
                                                opacity: 0;
                                            }
                                            92% {
                                                opacity: 0;
                                            }
                                        }
                                        
                                        @keyframes xfade3 {
                                            17% {
                                                opacity: 1;
                                            }
                                            25% {
                                                opacity: 0;
                                            }
                                            92% {
                                                opacity: 0;
                                            }
                                        }